<p class="home_ocpic"><b>O</b>utdoor <b>C</b>amera <b>Pi</b> <b>C</b>ontroller</p>

<table width="100%">
  <tr>
    <td class="home_image"><%= link_to image_tag('home_camera_active.png', width: 75), camera_index_path, class: 'home_main_image' %></td>
    <td class="home_image"><%= link_to image_tag('home_pi_active.png', width: 75), pi_index_path, class: 'home_main_image' %></td>
    <td class="home_image"><%= link_to image_tag('home_sensors_active.png', width: 75), sensors_index_path, class: 'home_main_image' %></td>
  </tr>
</table>

<h5 class="content-padded" xmlns="http://www.w3.org/1999/html">Program:</h5>
<ul class="table-view">
  <li class="table-view-cell media">
    <%= link_to(program_index_path, class: "navigate-right") do %>
      <div class="media-body">
        Timelapse
      </div>
    <% end %>
  </li>
  <li class="table-view-cell media">
    <%= link_to(program_index_path, class: "navigate-right") do %>
      <div class="media-body">
        Running 5 minutes
      </div>
    <% end %>
  </li>
  <li class="table-view-cell media">
    <%= link_to(photos_index_path, class: "navigate-right") do %>
      <div class="media-body">
        15 Photos taken
      </div>
    <% end %>
  </li>
</ul>

<%= render "shared/shutdown_pi_btn" %>
