<br/>
<%= link_to('TAKE PHOTO', '#', id:'take_photo_btn', class: "btn btn-positive btn-outlined action_btn") %>
<br/>
<br/>

<%= form_tag id:'camera_form', :controller => 'camera', :action => 'index', :method => 'get' do %>
  <% @all_settings.sort_by{|s| s[:name]}.each do |menu| %>
    <h3 class="table-view-divider"><%= menu[:name] %></h3>
    <% menu[:fields].sort_by{|f| f[:name]}.each do |field| %>
      <div class="input-row">
        <%= camera_label_field(field) %>
        <%= camera_setting_field(field) %>
      </div>
      <% end %>
    <% end %>
<% end %>
