<!DOCTYPE html>
<html>
<head>
  <title>OCPiC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <!-- Sets initial viewport load and disables zooming  -->
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <%= favicon_link_tag "mb-icon-#{Rails.env}.png", rel: 'apple-touch-icon', type: 'image/png' %>
</head>
<body>

<header class="bar bar-nav">
  <%= link_to "", reload_path, class: "icon icon-refresh pull-right" %>
  <h1 class="title"><%= application_title %></h1>
</header>

<div class="bar bar-footer">
  <table width="100%">
    <tr>
      <%= footer_table_cell("home") %>
      <%= footer_table_cell("camera") %>
      <%= footer_table_cell("sensors") %>
      <%= footer_table_cell("photos") %>
      <%= footer_table_cell("settings") %>
    </tr>
  </table>
</div>

<div class="content">
  <%= yield %>
</div>

</body>
</html>
